#campaigns.row-fluid
  .span4
    Farmer
  .span2
    Donated
  .span2
    Farmer Progress
   

- @user.campaign.each do |campaign|  
  -if not campaign.project==nil && campaign!=nil
    .row-fluid
      .span4
        =link_to  "  #{campaign.project.farmer}", manager_campaign_path(campaign)
      .span2
        = campaign.readable_donated
      .span2
        = "$" + campaign.project.current.to_s() + " / $" + campaign.project.target.to_s() 
      .span1
        = link_to 'Edit', edit_campaign_path(:id=>campaign), :class => 'btn btn-warning'
      .span1
        = link_to "Delete", campaign_path(campaign), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger'
    %hr

