.row
  .span6
    %h2= "#{@user.first_name} #{@user.last_name}"
    %h3= "#{@user.nickname}"
    %h3= "#{@user.email}"
  .span6
    = if (@user.photo) then image_tag(photo_path(@user.photo)) else "No picture available" end
