
= content_for :title do
  = "Edit Profile"


= form_for :user, :url => {:controller => 'dashboard', :action => 'update'}, :html => {:multipart => true} do |form|
  .container
    #title.row
      %h1 Edit Profile
    .row
      .span3
        = label :user, :first_name, 'First Name'
      .span3
        = text_field :user, :first_name, :autocomplete=>:off
    .row
      .span3
        = label :user, :last_name, 'Last Name'
      .span3
        = text_field :user, :last_name, :autocomplete=>:off
    .row
      .span3
        = label :user, :email, 'Email'
      .span3
        = text_field :user, :email, :autocomplete=>:off
    .row
      .span3
        = label :user, :nickname, 'Nickname'
      .span3
        = text_field :user, :nickname, :autocomplete=>:off
    .row
      %h3 Change Password
    .row
      .span3
        = label :user, :password, 'Password'
      .span3
        = password_field :user, 'password', :autocomplete=>:off
    .row
      .span3
        = label :user, :password_confirmation, 'Confirm'
      .span3
        = password_field :user, 'password_confirmation', :autocomplete=>:off
    .row
      %h3 Profile Picture
    .row
      .span3
        = label :user_image_url, :image_url, 'Or enter a Picture URL'
      .span3
        = text_field :user_image_url, :image_url
      .span2
        != '<script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropbox.js" id="dropboxjs" data-app-key="7ozihv3lo89xdih"></script>'
        != '<input type="dropbox-chooser" name="selected-file" id="db-chooser" style="visibility: hidden;"/>'
        != '<script type="text/javascript"> document.getElementById("db-chooser").addEventListener("DbxChooserSuccess", function(e) {document.getElementById(\'user_image_url_image_url\').value = e.files[0].link;}, false); </script>'
    
    .row
      .span3
        = form.submit "Save Changes", :id=>"submit"
