= content_for :title do
  My Dashboard

#title.row
  .span6
    %h1 User Dashboard
  .span2
    = link_to "Edit Profile", dashboard_edit_path  

= render :partial => "profile"

%h1 My Impact
#impact.row
  #donations.span6
    %h2 My Donations
    = render :partial => "donations"
  #campaigns.span6
    %h2 My Campaigns
    .row
      = link_to "Start a new campaign", campaign_farmers_path, :class => 'btn btn-success'
    .row
      = render :partial => "campaigns"

