#title.row
  .span6
    %h1 User Dashboard
  .span3
    = link_to "Invitations to Fund", root_path  
  .span3
    = link_to "Projects to Fund", root_path

= render :partial => "profile"

%h1 My Impact
#impact.row
  #donations.span6
    %h2 My Donations
    = render :partial => "donations"
  #donations.span6
    %h2 My Campaigns
    = render :partial => "campaigns"

