= content_for :title do
  = "List of users"

%h1 List of users
%table.table
  %tr
    %th #
    %th Email
    %th Name
    %th Nickname
    %th Last sign in
    %th Created at
  - @users.each.with_index do |user, index|
    %tr{:id => "user#{user.id}"}
      %td
        = user.id
      %td 
        = user.email
      %td 
        = user.displayname
      %td
        = user.nickname
      %td
        = user.last_sign_in_at
      %td
        = user.created_at
      %td
        = button_to 'Delete', user_path(user), :confirm => "Are you sure?", :method => :delete
      %td
        = button_to 'Make Admin', promote_user_path(user)


