.box-unit
  %h2.header Donate
  = form_tag donate_project_path(project.id), :method => :get, :id => 'donation-form' do
    .row-fluid.span12
      .span2
        = radio_button_tag "amount", "5" 
        = label :amount, 5, "$5"
      .span2
        = radio_button_tag "amount", "10" 
        = label :amount, 10, "$10"
      .span2
        = radio_button_tag "amount", "20" 
        = label :amount, 20, "$20"
      .span2
        = radio_button_tag "amount" ,"other"
        = label :amount, "other", "Other"
      .span2
        = text_field :donation, :amount, :cols => "10", :disabled => :disabled
    .row-fluid
      .span3.offset5
        = button_tag "Donate"
