%div{:class => "row-fluid box-unit", :id => "progress-box"}
  %h3 Donate
  = form_tag donate_project_path(project.id), :method => :get, :id => 'donation-form' do
    = text_field :donation, :email, :type=>:hidden
    = text_field :donation, :campaign_friend_id, :type=>:hidden
    .row-fluid.span12
      .span2
        = radio_button_tag "amount", "5" 
        = label :amount, 5, "$5"
      .span2
        = radio_button_tag "amount", "10" 
        = label :amount, 10, "$10"
      .span2
        = radio_button_tag "amount", "20" 
        = label :amount, 20, "$20"
      .span2
        = radio_button_tag "amount" ,"other"
        = label :amount, "other", "Other"
      .span2
        = text_field :donation, :readable_amount, :cols => "5", :disabled => :disabled
    .row-fluid
      .span12
        Custom donations must at at least $5, and be in multiples of $5.
    .row-fluid
      .span3.offset5
        = button_tag "Donate"
        
%div{:class => "row-fluid box-unit", :id => "progress-box"}
  %h3
    $#{project.current.to_i} donated of $#{project.target.to_i} goal
  .progress.progress-stripe.active
    - width = 100 - (project.target - project.current) * 100 / project.target
    .bar{:style => "width: #{width}%;"}

:javascript
  $(document).ready(function(){
      $('#amount_10').click(function(){
        $('#donation_readable_amount').attr("disabled","disabled");
      });

      $('#amount_20').click(function(){
        $('#donation_readable_amount').attr("disabled","disabled");
      });

      $('#amount_other').click(function(){
        $('#donation_readable_amount').removeAttr("disabled");
      });
  });
