= form_for @project, :html => { :class => 'form-horizontal' } do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error") 
        prohibited this project from being saved:
      %ul
      - @project.errors.full_messages.each do |msg|
        %li
          -msg
  .control-group
    = f.label :farmer, :class => 'control-label', :for => "project_farmer"
    .controls
      = f.text_field :farmer
  
  .control-group
    = f.label :description, :class => 'control-label', :for => "project_description"
    .controls
      = f.text_area :description, :rows => 15, :cols => 40

  .control-group
    = f.label :target, :class => 'control-label', :for => "project_target"
    .controls
      .input-prepend
        %span.add-on $
        = f.text_field :target

  .control-group
    = f.label :end_date, :class => 'control-label', :for => "project_end_date"
    .controls
      = f.text_field :end_date, :class => "datepicker"
      = f.check_box :ending

  .control-group.warn_blur
    = f.label :priority, :class => 'control-label', :for => "project_priority"
    .controls
      - options = (1..10).each { |k| [k, k] }
      = f.select :priority, options_for_select(options), {}, {:class => "warning_toggle"}
      %span.help-inline.hide Prioritizing every project does nothing. Choose wisely.

  .control-group
    .controls
      %p.label.label-info.span6{:style => 'margin-left:0px; text-align:center'} Just paste the url to the youtube videos below <br />(already uploaded videos are displayed by their video ids)
  - index = 0
  = f.fields_for :videos do |builder|
    .control-group.video
      = builder.label "Video #{index+1}", :class => "control-label #{("extra" if builder.object.new_record?)}"
      .controls
        = builder.text_field :video_id
        - unless builder.object.new_record?
          = builder.check_box '_destroy'
          %span Remove
                        
    - index = index + 1
  .control-group
    .controls
      %a#add.btn{:href => if not @project.id.nil? then (edit_project_path(@project, :extras => (@project.videos.length + 1))) else (new_project_path(@project, :project => @project.to_json, :extras => (@project.videos.length + 1))) end, :data => {:selector => ".video" }} Add
      %a#remove.btn{:href => new_project_path(@project, :project => @project, :extras => (@extras - 1)), :data => {:selector => ".video"}, :disabled => @extras == 0 } Remove

  .control-group
    .controls
      = f.submit :class => "btn btn-primary"
