= form_for @project, :html => { :class => 'form-horizontal' } do |f|

  .control-group{:class => ("error" unless @project.errors['farmer'].empty?)}
    = f.label :farmer, :class => 'control-label', :for => "project_farmer"
    .controls
      = f.text_field :farmer
      %span.help-inline 
        = @project.errors['farmer'][0] unless @project.errors['farmer'].empty?
  
  .control-group{:class => ("error" unless @project.errors['description'].empty?)}
    = f.label :description, :class => 'control-label', :for => "project_description"
    .controls
      = f.text_area :description, :rows => 15, :cols => 40, :class => 'span8'
      %span.help-inline 
        = @project.errors['description'][0] unless @project.errors['description'].empty?

  .control-group{:class => ("error" unless @project.errors['target'].empty?)}
    = f.label :target, :class => 'control-label', :for => "project_target"
    .controls
      .input-prepend
        %span.add-on $
        = f.text_field :target
      %span.help-inline 
        = @project.errors['target'][0] unless @project.errors['target'].empty?

  .control-group{:class => ("error" unless @project.errors['end_date'].empty?)}
    = f.label :end_date, :class => 'control-label', :for => "project_end_date"
    .controls
      = f.text_field :end_date, :class => "datepicker"
      = f.check_box :ending
      Not Ending
      %span.help-inline 
        = @project.errors['end_date'][0] unless @project.errors['end_date'].empty?

  .control-group.warn_blur
    = f.label :priority, :class => 'control-label', :for => "project_priority"
    .controls
      - options = (1..10).each { |k| [k, k] }
      = f.select :priority, options_for_select(options), {}, {:class => "warning_toggle"}
      %span.help-inline.hide Prioritizing every project does nothing. Choose wisely.

  .control-group
    .controls
      %p.label.label-info.span6{:style => 'margin-left:0px; text-align:center'} Just paste the url to the youtube videos below <br />(already uploaded videos are displayed by their video ids)
  - index = 0
  #videos
    = f.fields_for :videos do |builder|
      .control-group.video{:class => ("extra" if builder.object.new_record?)}
        = builder.label "Video #{index+1}", :class => "control-label" 
        .controls
          = builder.text_field :video_id
          - unless builder.object.new_record?
            = builder.check_box '_destroy'
            %span Remove
                          
      - index = index + 1
    .control-group
      .controls
        %a#add-video.btn{:href => new_or_edit_path(@project, @project.new_record?, @project.videos.length+1, @project.photos.length)} Add
        %a#remove-video.btn{:href => new_or_edit_path(@project, @project.new_record?, @video_extras-1, @photo_extras), :disabled => @video_extras <= 1 } Remove

  - index = 0
  #photos
    = f.fields_for :photos do |builder|
      .control-group.photo{:class => ("extra" if builder.object.new_record?)}
        = builder.label "Photo #{index+1}", :class => "control-label"
        .controls
          = builder.file_field :input_data
          - unless builder.object.new_record?
            = builder.check_box '_destroy'
            %span Remove
                          
      - index = index + 1
    .control-group
      .controls
        %a#add-photo.btn{:href => new_or_edit_path(@project, @project.new_record?, @project.videos.length, @project.photos.length + 1)} Add
        %a#remove-photo.btn{:href => new_or_edit_path(@project, @project.new_record?, @video_extras, @photo_extras - 1), :disabled => @photo_extras <= 1 } Remove

  .control-group
    .controls
      = f.submit :class => "btn btn-primary"
