%li.well.project_details
  %h2.title 
    = project.farmer
  .current
    $
    = project.target - project.current
    left!
  %p.description
  - maxlength = 200
  - if project.description.length > maxlength
    = %Q{#{project.description[0..project.description[0..maxlength].rindex(' ')]}<br /> Read more...}.html_safe
  - else 
    = project.description 

