%li.well.project_details
  %h2 
    = project.farmer
  = project.target - project.current
  left!
  %br
  - maxlength = 270
  - if project.description.length > maxlength
    = %Q{#{project.description[0..project.description[0..maxlength].rindex(' ')]}<br /> Read more...}.html_safe
  - else 
    = project.description 

