- if not project.nil?
  .hero-unit.project_sidebar{:style => "background-color: transparent;"}
    %h1 
      = project.farmer
    %p
      = :description => project.description[0..[270,project.description.length].min]
    %h2 
      $#{project.current.to_i} donated of $#{project.target.to_i} goal
    .progress.progress.striped.active
      - width = 100 - (project.target - project.current) * 100 / project.target
      .bar{:style => "width: #{width}%;"}
    = link_to "Donate", project_path(project), :class => "btn btn-success", :id => "project_link"

