.hero-unit.project_sidebar
  = render 'farmer', :project=>@project
  = render 'donation', :project=>@project

= render 'youtube/upload', :videos => @project.videos, :width => 400

- if admin_signed_in?
  = link_to 'Edit', edit_project_path(@project) 

= link_to 'Back', projects_path 
- if admin_signed_in?
  = button_to 'Delete', project_path(@project), :method => :delete
