= content_for :title do @project.farmer end
= render 'farmer', :project => @project
.push-down
  .row-fluid.span12.box-unit
    #farmer_info
      .span6#vid
        = render 'youtube/upload', :videos => @project.videos, :width => 380

      =render 'farmer_info', :project => @project
- if admin_signed_in?
  .row-fluid
    .span1
      = link_to 'Edit', edit_project_path(@project), :class => 'btn btn-warning' 
    .span1
      = link_to 'Delete', project_path(@project), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger'
  %br
= link_to 'Back to project list', projects_path 
