= content_for :title do @project.farmer end
.project_sidebar
  = render 'farmer'

= render 'youtube/upload', :videos => @project.videos, :width => 400

- if admin_signed_in?
  .row-fluid
    .span1
      = link_to 'Edit', edit_project_path(@project), :class => 'btn btn-warning' 
    .span1
      = link_to 'Delete', project_path(@project), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger'
  %br
= link_to 'Back to project list', projects_path 

:javascript
  $(document).ready(function(){
      $('#amount_5').click(function(){
        $('#donation_amount').attr("disabled","disabled");
      });
      $('#amount_10').click(function(){
        $('#donation_amount').attr("disabled","disabled");
      });

      $('#amount_20').click(function(){
        $('#donation_amount').attr("disabled","disabled");
      });

      $('#amount_other').click(function(){
        $('#donation_amount').removeAttr("disabled");
      });
  });
