-if @update.errors.empty? == false
  .alert.alert-error
    Error prevented this update from being #{controller.action_name}d:
    %ul
      - @update.errors.full_messages.each do |error|
        %li= error

= label :update, :title, 'Title'
= text_field :update, 'title', :class => :span8

= label :update, :content, 'Content'
= text_area :update, 'content', :class => :span8, :rows => 15 


