.row
  .span2
    = friend.name
  .span2
    = friend.email
  .span2
    = friend.sent_count
  .span2
    = friend.opened==0?"Unconfirmed":"Confirmed"
  .span4
    = mail_to friend.email, "SEND TO #{friend.name}",:subject=>friend.email_subject, :body=>friend.email_body,'data-popup' => true 
