-# edit.html.haml using partial

%h1 Edit Existing Campaign

= form_tag campaign_path(@campaign), :method => :put do

  - @campaign.campaign_friend.each do |friend|
    .row
      - name = (friend.name.blank?) ? '' : %Q{#{friend.name}, }
      - name = name + friend.email
      .span3{:style => "height: 400px; vertical-align: middle"}
        = name
      .span9{:style => "height: 400px;" }
        = render 'youtube/upload', :videos => [friend.video], :height => 400, :width => 500, :editable => false, :form => false 
  %br
  = label :campaign, :email_subject, 'Subject'
  = text_field :campaign, :email_subject, :style => 'width: 550px'
  = label :campaign, :template, 'Template'
  = text_area :campaign, :template, :style => 'width: 550px'

  .row
    .offset1
      = submit_tag 'Update Campaign Info'
