= content_for :title do
  ="Campaign: Add friends"

%h2 Add friends to your campaign


= form_tag friends_campaign_path, :method => :get do
  /- if not session[:email_list].empty?
  %p Done so far:
  - for friend in session[:email_list] do
    = %Q{#{friend.email}, }
  %div 
    = link_to "Finished", template_campaign_path, :class => "btn btn-success"
  %p Enter your friend's email
  %p 
    = "Example: Bob Smith <bsmith@mail.com>, John Doe <jdoe@mail.com>"
  %br

  = label :campaign, :email, "Friend"
  = text_field :campaign, :email

  = render 'video'

  %br
  = submit_tag 'Next'
