= content_for :title do
  ="Campaign: Add friends"

.container#friends-container
  - if @error
    %span#campaign-notice.alert.alert-error 
      = @error

  %h2 Add friends to your campaign

.row
  .span9
    = form_tag friends_campaign_path, :method => :get, :id => 'campaign-friends', :class => 'form-horizontal' do |f|
      %legend
        Enter your friend's email
        %br
        = "Example: Bob Smith <bsmith@mail.com>, John Doe <jdoe@mail.com>"

      .control-group
        = label :campaign, :email, "Friend", :class => 'control-label'
        .controls
          = text_field :campaign, :email

      = render 'video'

      .control-group
        .controls
          = submit_tag 'Next', :class => "btn btn-success"
  .span3
    = form_tag template_campaign_path, :method => :post do |f|
      %h2 Done so far:
      %ul#friends
        - if session[:email_list].empty? 
          None so far...
        - for friend in session[:email_list] do
          %li
            = %Q{#{friend.name}: #{friend.email}}
      %div 
        = submit_tag "Finished", :class => "btn btn-success"
  .row

