=content_for :title do
  ="Campaign Manager"

%h1 Send your Donation Requests!

%h3 Current Status
= link_to @campaign.project.farmer, project_path(@campaign.project)
= ": #{@campaign.project.current} of #{@campaign.project.target} funded"
%br
= "Campaign donated #{@campaign.readable_donated} so far"

%h3 Message Template
%b Subject:
%br
= @campaign.email_subject
%br
%br
%b Body:
%br
= @campaign.template
%br
%br
%b Video:
%br
= render "youtube/upload", :videos => [@campaign.video] unless @campaign.video==nil
%br

%h3 Send Emails
.row
  .span2
    %b Name
  .span2
    %b Email address
  .span2
    %b Sent Counter
  .span2
    %b Opened?
  .span2
    %b Send Now
- @campaign.campaign_friend.each do |friend|
  = render 'send_friend', :friend => friend