%h1 Add a Video

= form_tag submit_video_campaign_path(@campaign), :method => :put do
  %p Enter the video link you want your friends to see here
  %p Or record one using your webcam!
  %br
  
  = label :campaign, :video_link, 'Video Link'
  = text_field :campaign, :video_link


  = render 'youtube/upload', :width => 500, :editable => false, :form => true, :extras => 1

  %br
  = submit_tag 'Next'
