= content_for :title do 
  ="OneProser: Home"

= content_for :bar do
  #bar
    .container.center
      %h3
        People Seek Empowerment. Not Dependence.

%div.row-fluid
  %div.row-fluid.project-section
    %div.span8
      %ul.unstyled.clearfix.smallprojectlist
        - @projects.each.with_index do |project, index|
          = link_to project_path(project) do
            = render "projects/small", :project => project, :active => (if index == 0 then true else false end)
      - pages = (@count.to_f / 12).ceil
      .pagination
        %ul
          %li{:class => (@page == 1 ? "disabled" : nil)}
            %a{:href => ("/?page=#{@page-1}" if @page != 1)}
              Prev

          - pages.times do |num|
            %li{:class => (@page == num+1 ? "active" : nil)}
              %a{:href => "/?page=#{num+1}"}
                = num+1
          %li{:class => (@page == pages ? "disabled" : nil)}
            %a{:href => ("/?page=#{@page+1}" if @page != pages)}
              Next
      = link_to "All Projects", projects_path, :class => "btn btn-success", :id => "project_link"

    %div.span4
      = render "projects/sidebar", :project => @projects[0]
      %div{:class => 'row-fluid', :height => '300px'}
  %br
  %div.row-fluid
    %div.span7
      %div{:class => 'howitworks'}
        %table#howItWorks
          %thead
            %tr
              %th.lead How It Works
          
          %tbody
            
            %tr
              %td
                %div{:class => 'circle'}
                  1 
                Sign up as a changemaker to start your campaign.
            %tr
              %td
                %div{:class => 'circle'}
                  2
                Select your beneficiary from our database and record
                  
                a short video on their behalf.
            %tr 
              %td
                %div{:class => 'circle'}
                  3
                Send out the videos.
            %tr
              %td 
                %div{:class => 'circle'}
                  4
                Keep track of the impact of your campaign.
        %center
          %a{:class => "btn btn-success", :href => campaign_farmers_path} Start Your Campaign
    %div.span5.updates
      .row-fluid
        .span4.offset4.lead
          =link_to "Announcements", updates_path(), :class => 'header'
      .row
        - @updates.each do |update|
          .row-fluid
            .span8.offset1
              =link_to "#{update.title}", update_path(update)
            .span2
              = update.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m-%d")
                
  %br
  %br

  #homebox
    .row-fluid
      = render 'layouts/homebox' 
  %br
  %br
