!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "OneProsper"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    %header.navbar
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main"}
      = yield :bar
      .container-fluid
        .push-down
          .row-fluid.content
            .span12
              - if flash[:notice]
                %span#notice.alert.alert-success= flash[:notice].html_safe
              - if flash[:error] or flash[:alert]
                - if flash[:alert]
                  - flash[:error] = flash[:alert]
                %span#notice.alert.alert-error= flash[:error].html_safe
              = yield

        #footer
          .container
            .row
              .title      
                .span3
                  About Us
                .span3
                  Contact Us
            .row
              .content
                .span3        
                  =link_to "About", '/about'
                .span3        
                  =link_to "Facebook", 'http://www.facebook.com/oneprosperinternational'
            .row
              .content
                .span3        
                  =link_to "Mission", '/mission'
                .span3        
                  =mail_to 'raju@oneprosper.org' , 'Email'
            .row
              .content
                .span3        
                  =link_to "Model", '/model'
                .span3        
                
            .row
              .content
                .span3        
                  =link_to "Impact", '/impact'
                
